<header>
    <nav class="header-nav">
        <a class="header-title" href="/">My Games</a>
        <ul>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/developers/new">Add Developer</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/games/new">Add Game</a></li>
        </ul>
    </nav>
</header>