<header>
    <nav class="header-nav">
        <a class="header-title" href="/">GAMENEST</a>
        <ul class="nav-links">
            <li><a href="/developers">Developers</a></li>
            <li><a href="/developers/new">Add Developer</a></li>
            <li><a href="/games">Games</a></listyle="border-right: solid 1px white">
            <li><a href="/games/new">Add Game</a></li>
        </ul>
    </nav>
</header>