<h2>Recently Added</h2>
<div>
    <% games.forEach(game => { %>
        <a href="/games/<%= game.id %>">
            <img height="150" width="100" src="<%= game.coverImagePath %>">
        </a>
    <% }) %>
</div>