<h2 class="page-header">Edit Game</h2>
<form action="/games/<%= game.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/games">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>